
html, body {
	font-size: 100%;
	font-family: 'Open Sans', sans-serif, '微軟正黑體';
}

body {
    text-align: center;
    /*background: #f5f5f5;*/
}

.container {
	max-width: 540px;
}

.header {
    text-align: center;
    background: url('../images/backdoor.jpg');
    background-repeat: no-repeat;
    background-position: 50% 60%;
	margin-bottom: 0;
	height: 240px;
}

.header h1 {
	margin-top: 10px;
    font-size: 3em;
    color: #FAFFFA;
    text-shadow: 1px 1px 3px rgba(0,30,0,0.5);
    z-index: 99;
}

.navbar {
	text-align: center;
}

.navbar-collapse  .nav-pills{
	display: inline-block;
	float: none;
	width: 100%;
}

.content {
    margin: auto;
	height: 85%;
	z-index: -1;
	overflow: hidden;
}

section .sectionShow {
}

.sectionHide {
    display: none;
}

#info p {
	padding-top: 20px;
}

#apply h3 {
	font-size: 1.625em;
	font-weight: bold;
	border-bottom: 2px double #D2BF85;
}

#apply span {
	font-size: 1em;
}


#map {
	max-width: none;
	height: 420px;
}

.trafficinfoTitle {
	text-align: left;
	font-weight; bold;
}

.trafficinfo{
	text-align: justify;
	padding-left: 2em;
}

#scheduleTable {
    margin: auto;
    width: 60%;
}

.speaker {
	margin-bottom: 20px;
	margin-left: 20px;
}

.speaker-pic {
	display: block;
}

.speaker-name {
	display: block;
}

.speaker-pic {
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	height: 140px;
	width: 140px;
}

.speaker-content {
	text-align: center;
}

.speaker-title {
	text-align: center;
}

.staff {
	width: 30%;
	display: inline-block;
	margin: none;
	padding: none;
}

.staff-pic {
	height: 70px;
	width: 70px;
}

.staff-name {
	font-size: 16px;
}

.staff-info {
	font-size: 12px;
}


a {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

footer {
    width: 100%;
    position: relative;
    color: #000000;
    height: 4em;
    text-align: center;
	margin-top: 10%;
	margin-bottom: 0;
    z-index: 50;
    overflow: hidden;
}

@media screen and (min-width: 1920px) {
	.container { 
		max-width: 1780px;
	}
	.speaker-title {
		text-align: center
	}
}

@media screen and (min-width: 1110px) and (max-width: 1919px){
	.container {
		max-width: 1080px;
	}
	.header {
		height: 290px;
	}
	.header h1 {
		font-size: 4em;
	}
	.speaker-title {
		text-align: center;
	}
}

@media screen and (min-width: 768px) and (max-width: 1109px) {
	.container {
		max-width: 740px;
	}
	.header {
		height: 240px;
	}
	.header h1 {
		font-size: 3.5em;
	}
	.speaker-content {
		text-align: left;
	}
	.speaker-title {
		text-align: left;
	}
}
