html, body{
font-size: 100%;
font-family: 'Open Sans', sans-serif, '微軟正黑體';
}

p{
line-height: 1.5em;
font-size: 1.2em;
}

a{
color:#185D93;
text-decoration: none;
}

a:hover{
text-decoration: underline;
}

.gridWrap{
width: 100%;
overflow: hidden;
}

div[class*='grid-']{
display: inline-block;
vertical-align: top;
box-sizing: border-box;
}

.grid-8{
width: 100%;
}

.grid-6{
width: 75%;
}

.grid-5{
width: 62.5%
}

.grid-4{
width: 50%;
}

.grid-3{
width: 37.5%;
}

.grid-2{
width: 25%;
}

.cover-bg{
background: url('../images/coverbg.jpg') no-repeat;
background-size: cover;
background-position: 50% 40%;
position: fixed;
top: 0;
left: 0;
right: 0;
height: 70vh;
z-index: -999;
}

nav{
position: fixed;
top: 2em;
right: 2em;
z-index: 100;
}

nav ul{
list-style: none;
margin: 0;
padding: 0;
background-color: #E45218;
}

nav ul li{
display: inline-block;
}

nav a{
text-decoration: none;
color: #fff;
padding: 8px 10px;
display: inline-block;
-webkit-transition: background-color 0.2s;
transition: background-color 0.3s;
}

nav a:hover, nav a.active{
background-color: #992108;
text-decoration: none;
}

.header{
margin-top: 30vh;
text-align: center;
}

.header h1{
font-size: 5em;
color: #FFF;
font-weight: 700;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
margin: 0.4em 0;
}

.header span{
font-size: 2em;
font-weight: 700;
color: #fff;
border: 3px solid;
padding: 4px 10px;
}

.contentWrap{
position: absolute;
top: 70vh;
left: 0;
right: 0;
background-color: #fff;
-webkit-box-shadow: 0px -2px 2px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px -2px 2px 0px rgba(0,0,0,0.1);
box-shadow: 0px -2px 2px 0px rgba(0,0,0,0.1);
}

#socialPanel{
text-align:right;
margin: 1em;
}

.section{
margin: 4em auto 6em auto;
width: 80%;
max-width: 960px;
}

.sectionExpand{
width: 100%;
max-width: initial;
background-color: #252525;
color: #fff;
}

.secHeader{
text-align: center;
margin: 2em 0;
}

.secHeader:before{
width: 12px;
height: 12px;
background-color: #E45218;

-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
-moz-transform-origin: 0 100%;
-ms-transform-origin: 0 100%;
-o-transform-origin: 0 100%;
transform-origin: 0 100%;
content: ' ';
display: inline-block;
}

.secHeader .secTitle{
margin: 0.25em 0;
font-size: 1.8em;
font-weight: 100;
}

#info p{
text-align: center;
}

#map-canvas{
width: 100%;
height: 420px;
}

#trafficInfo{
padding: 2em 4em;
}

#trafficInfo h3{
color: #E45218;
margin: 0;
font-weight: normal;
}

#trafficInfo p{
font-size: 0.9em;
font-weight: normal;
margin: 0 0 1em 0;
color: #ddd;
}

#scheduleTable{
width: 100%;
border: 1px solid #aaa;
}

#scheduleTable th,td{
padding: 14px 10px;
border: 1px solid #aaa;
text-align: center;
}

#scheduleTable td.stableTime{
}

#scheduleTable tr.spanrow td:last-child{
background-color: #eee;
}

#scheduleTable tr:not(.spanrow) td:last-child{
text-align: left;
}

.speakerCard{
margin-bottom: 5em;
}
.speakerCard h3, h4{
margin: 0.5em 0;
}

.speakerCard p{
font-size: 1em;
margin: 0;
}

.spkrPic{
width: 50%;
margin-left: 30%;
border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
}

.spkrName{
color: #185D93;
margin: 0.25em 0;
}

.spkrTopic{
border-left: 4px solid #aaa;
padding-left: 8px;
margin-top: 1.5em;
}

footer{
text-align: center;
font-size: 0.9em;
color: #aaa;
padding: 4em 0 2em 0;
}

footer a{
color: #aaa;
text-decoration: underline;
}


/*** responsive ***/
@media screen and (max-width: 1415px) {
	html,body{
	
	}
	#map-canvas{
		height: 440px;
	}
	#trafficInfo{
		padding: 2em 2em;
	}
}

@media screen and (max-width: 1270px) {

	.grid-5{
		width: 50%;
	}
	.grid-3{
		width: 50%;
	}
	#map-canvas{
		height: 440px;
	}
	#trafficInfo{
		padding: 2em 2em;
	}
	
}

@media screen and (max-width: 960px){
	.grid-5{
		width: 100%;
	}
	.grid-3{
		width: 100%;
	}
	#map-canvas{
		height: 280px;
	}
	#trafficInfo{
		padding: 2em 4em;
	}
	
	.header h1{
		font-size: 4em;
	}
}
/*
@media screen and (max-width: 641px){

}
*/